{% extends 'drw_base/base.html' %}

{% block content %}
    <h3>Lista rysunków - Wszystkich - nie stronicowana</h3>
	<hr>
	<hr>	
	{% for drw in drws %}
		<div class="drw">
			<!-- komentarz <h2><a href="">Nr rysunku: {{ drw.nr_rys }}</a></h2>-->
			
			<h3><a href="{% url 'drw_detail' pk=drw.pk %}">Nr rysunku: {{ drw.nr_rys }}</a></h3>
			
			<div class="nazwa">				
				<p>Nazwa: {{ drw.nazwa }}</p>
			</div>
			<div class="nazwa_pola">
    			<p>Nr archiwalny: {{ drw.nr_arch|linebreaksbr }}</p>
			</div>
			<hr>
			{% comment %} jakiś komentarz {% endcomment %}
		</div>
	{% endfor %}

{% endblock %}