<html>
    <head>
        <title>Baza DRW ma być - na razie wpisy na sztywno dla próby</title>
    </head>
    <body>
        <div>
            <h1><a href="/">DRW - baza - ma być - na razie wpisy na sztywno dla próby</a></h1>
        </div>

        <div>
            <p>wprowadzony: 25.03.2022, 12:14</p>
            <h2><a href="">Pierwszy rysunek</a></h2>
            <p>1-4-0001</p>
        </div>

        <div>
            <p>wprowadzony: 25.03.2022, 12:15</p>
            <h2><a href="">Drugi rysunek</a></h2>
            <p>1-4-0002</p>
        </div>
    </body>
</html>